.header-main {
  width: 100%;
  height: 54px;
  background-color: var(--white1);
  border-bottom: 1px solid var(--gray1);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-container {
  max-width: var(--container-size);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container input:focus {
  outline: none;
}

.header-nav {
  width: 148px;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 146px;
}

.logo-icon-wrapper {
  width: 32px;
  border-right: 1px solid var(--gray1);
}

.logo-name-wrapper {
  width: 123px;
  height: 29px;
  margin-left: 10px;
}

.logo-name {
  width: 100%;
}

.search-input {
  min-width: 215px;
  height: 28px;
  background-color: var(--white2);
  color: var(--gray3);
  border-radius: 3px;
  border: 1px solid var(--gray1);
  border-radius: 3px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.search-input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray3);
}
